<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/normalize.css') }}"> 

{% block css %}

{% endblock %}

        <link rel="shortcut icon" href="../static/icone.png" type="image/x-icon">

{% block title %}

{% endblock %}
    </head>
<body>
    <header> 
        <img src="../static/logo.png" alt="">
        <nav>
            <a href='index.html'>Home</a>|
            <a href='quemsomos.html'>Quem somos</a>|
            <a href='contato.html'>Contato</a>
        </nav>
    </header>

{% block body %}

{% endblock %}

<p class="frase"><strong>Todos os direitos reservados.</strong></p>
</body>
</html>