{% extends 'base.html' %}

{% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
{% endblock %}

{% block title %}
        <title>Home</title>
{% endblock %}

{% block body %}
        <img src="../static/capa.png" alt="Capa da Unes" class="capa">
    <div>
        <h1>Sobrrrre a Universidade</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, totam necessitatibus? Aut tenetur iure id ipsam autem sint officia quas, 
            illum magni dolor dicta tempora eum, veniam, voluptatibus sit. Itaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae 
            quos voluptate minima illo porro numquam esse vel, corrupti sunt distinctio. Delectus atque architecto porro incidunt nostrum quam officiis aperiam.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, totam necessitatibus? Aut tenetur iure id ipsam autem sint officia quas, 
            illum magni dolor dicta tempora eum, veniam, voluptatibus sit. Itaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae 
            quos voluptate minima illo porro numquam esse vel, corrupti sunt distinctio. Delectus atque architecto porro incidunt nostrum quam officiis aperiam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, totam necessitatibus? Aut tenetur iure id ipsam autem sint officia quas, 
                illum magni dolor dicta tempora eum, veniam, voluptatibus sit. Itaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae 
                quos voluptate minima illo porro numquam esse vel, corrupti sunt distinctio. Delectus atque architecto porro incidunt nostrum quam officiis aperiam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, totam necessitatibus? Aut tenetur iure id ipsam autem sint officia quas, 
                illum magni dolor dicta tempora eum, veniam, voluptatibus sit. Itaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae 
                quos voluptate minima illo porro numquam esse vel, corrupti sunt distinctio. Delectus atque architecto porro incidunt nostrum quam officiis aperiam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, totam necessitatibus? Aut tenetur iure id ipsam autem sint officia quas, 
                illum magni dolor dicta tempora eum, veniam, voluptatibus sit. Itaque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam beatae 
                quos voluptate minima illo porro numquam esse vel, corrupti sunt distinctio. Delectus atque architecto porro incidunt nostrum quam officiis aperiam.</p>
        </div>
{% endblock %}