{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style2.css') }}">
{% endblock %}

{% block title %}
    <title>Quem Somos</title>
{% endblock %}

{% block body %}
      <h1>Quem Somos</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, a vel
         reprehenderit aperiam ducimus laudantium expedita reiciendis qui pariatur
          ipsa odit consectetur, inventore quis adipisci, veniam at in repudiandae eum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis ea
         molestiae rem perspiciatis, natus maiores. Ea nesciunt ex, ducimus rem tempore
          maiores sapiente, nihil provident enim eos omnis reiciendis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis non, dolore labore 
        dolorem at numquam expedita maiores ut est nulla excepturi corporis illo esse culpa 
        beatae quaerat repellendus enim quia.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, a vel
        reprehenderit aperiam ducimus laudantium expedita reiciendis qui pariatur
         ipsa odit consectetur, inventore quis adipisci, veniam at in repudiandae eum?
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis ea
        molestiae rem perspiciatis, natus maiores. Ea nesciunt ex, ducimus rem tempore
         maiores sapiente, nihil provident enim eos omnis reiciendis?
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis non, dolore labore 
       dolorem at numquam expedita maiores ut est nulla excepturi corporis illo esse culpa 
       beatae quaerat repellendus enim quia.</p>
      <h1>5 motivos para estudar</h1>
      <ol type="1" start="1">
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
      </ol>
      <hr>
      <h1>Objetivos</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, a vel
        reprehenderit aperiam ducimus laudantium expedita reiciendis qui pariatur
         ipsa odit consectetur, inventore quis adipisci, veniam at in repudiandae eum?
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis ea
        molestiae rem perspiciatis, natus maiores. Ea nesciunt ex, ducimus rem tempore
         maiores sapiente, nihil provident enim eos omnis reiciendis?
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis non, dolore labore 
       dolorem at numquam expedita maiores ut est nulla excepturi corporis illo esse culpa 
       beatae quaerat repellendus enim quia.Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, a vel
       reprehenderit aperiam ducimus laudantium expedita reiciendis qui pariatur
        ipsa odit consectetur, inventore quis adipisci, veniam at in repudiandae eum?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reiciendis ea
       molestiae rem perspiciatis, natus maiores. Ea nesciunt ex, ducimus rem tempore
        maiores sapiente, nihil provident enim eos omnis reiciendis?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis non, dolore labore 
      dolorem at numquam expedita maiores ut est nulla excepturi corporis illo esse culpa 
      beatae quaerat repellendus enim quia.</p>

{% endblock %}
